* {
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1rem;
    font-weight: 400px;
    letter-spacing: 0.01em;
    width: 90%;
    max-width: 1024px;
    margin: auto;
    color: rgb(98, 24, 24);
    background-color: whitesmoke;
}

header img {
    width: 30%;
    justify-self: end;
}

header {
    background-color: rgb(178, 2, 2);
    color: black;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* margin-bottom: 1rem; */
}

nav {
    font-size: small;
}

main h2 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

table {
    text-align: center;
    margin: auto;
    margin-bottom: 1.5rem;
}

th {
    border: 2px solid black;
    padding: 0.25rem 1.5rem;
    font-weight: bold;
    background-color: rgb(178, 2, 2);
    color: rgb(18, 0, 0);
}

td {
    border: 2px solid black;
    padding: 0.25rem 0.75rem;
    background-color: whitesmoke;
}

footer {
    background-color: rgb(178, 2, 2);
    color: black;
    border: 2px solid black;
    font-size: 13px;
    padding: 0.5rem;
    margin-top: 3rem;
}

@media (min-width: 500px) {
    header img {
        max-height: 150px;
        max-width: 150px;
    }
    h1 {
        font-size: 2.5rem;
    }
    header h2 {
        font-size: 1.25rem;
    }
    nav li a {
        padding-right: 0.75rem;
    }
    table {
        font-size: 1.25rem;
    }
}
