* {
	box-sizing: border-box;
}

body {
	font-weight: 400px;
	color: rgb(98, 24, 24);
	background-color: whitesmoke;
}

main h2 {
	color: white;
	font-size: 3rem;
	text-align: center;
	margin: 1rem;
	font-weight: bold;
}
main {
	position: relative;
	min-height: 300px;
}
.blur-image {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgb(178, 2, 2);
	opacity: 50%;
	z-index: -5;
}
table {
	text-align: center;
	margin: auto;
	margin-bottom: 1.5rem;
	font-size: xx-small;
}

th {
	border: 2px solid black;
	padding: 0.25rem 1.5rem;
	font-weight: bold;
	background-color: rgb(178, 2, 2);
	color: rgb(18, 0, 0);
}

td {
	border: 2px solid black;
	padding: 0.25rem 0.75rem;
	background-color: whitesmoke;
}

@media (min-width: 400px) {
	table {
		font-size: 0.75rem;
	}
}

@media (min-width: 500px) {
	table {
		font-size: 1.25rem;
	}
}
